{% extends 'base.html.twig' %}

{% block body %}

    <h1>Get datas :</h1>

    isAjax : {{ isAjax }}<br>
    getPrefLang {{ getPrefLang }}<br>
    get : {{ get }}<br>
    post : {{ post }}<br>
    server : {{ server }}<br>
    file : {{ file }}<br>
    cookie : {{ cookie }}<br>
    header01 : {{ header01 }}<br>
    header02 : {{ header02 }}<br>

{% endblock %}